streamlit==1.19.0
streamlit-chat==0.0.1
openai==0.27.0
python-decouple==3.8
langchain==0.0.291
wikipedia==1.4.0
vertexai==0.0.1
google==3.0.0
google-auth==2.23.0
google-cloud-aiplatform==1.26.1
google.cloud==0.34.0
cloudpickle==2.2.1