fastapi==0.103.2
flask==2.0.2
google==3.0.0
google-api-core==2.12.0
google-auth==2.23.1
google-cloud==0.34.0
google-cloud-aiplatform==1.33.1
google-cloud-bigquery==3.11.4
google-cloud-core==2.3.3
google-cloud-resource-manager==1.10.4
google-cloud-storage==2.11.0
google-resumable-media==2.6.0
googleapis-common-protos==1.60.0
langchain==0.0.308
langchain-experimental==0.0.29
langsmith==0.0.41
numpy==1.26.0
posthog==3.0.2
requests==2.31.0
SQLAlchemy==1.4.49
sqlalchemy-bigquery==1.8.0
starlette==0.27.0
tzdata==2023.3
tzlocal==5.0.1
vertexai==0.0.1
websockets==11.0.3